.image-container {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}